// Colours
$errors: #ff4a4a;
$eventBg: #173f5f;
$secBg: #20639b;
$inputBg: #fffaf1;
$incBg: #6eba73;
$decBg: #ff7e79;

// Font size
$smFont: 0.8rem; // small
$regFont: 1rem; // regular
$lrgFont: 1.2rem; // large
$xLrgFont: 1.5rem; // extra large